<%
const pageinfo = {
  title: 'Home',
  meta: true,
  authorized: false,
  footer: {
    background: false
  },
  authorizedInfo: {
    messages: 3,
    user: {
      media: true,
      mediaUrl: "img/user.svg",
      name: "Сергей"
    },
    getMenu() {
      const messages = this.messages;
      return [
        {count: messages, value: "Сообщения"},
        {value: "Профиль"},
        {value: "Настройки"},
        {value: "Выход"},
      ];
    }
  },
  state: {
    sliders: {
      home: [
        {media: "img/homeslider_0.jpg", title: "Играй в FIFA на PS4", btn: true},
        {media: "img/homeslider_1.jpg", title: "Играй в FIFA на X-BOX", btn: false},
        {media: "img/homeslider_1.jpg", title: "Играй в FIFA на PC", btn: true},
      ]
    }
  }
}; 
%> 
   
<!doctype html> 
<html lang="ru">
  <%- include('common/head', pageinfo); %> 

  <section class="section">
    <div class="container">
      <div class="swiper homeslider">
        <div class="swiper-wrapper">
          <% pageinfo.state.sliders.home.forEach((e,i) => { %> 
            <div class="swiper-slide">
              <div class="homeslider__item swiper-lazy" data-background="<%=e.media%>">
                <div class="homeslider__box">
                  <% if (i===0) { %>
                    <h1 class="homeslider__title"><%=e.title%></h1>
                  <% } else { %>
                    <div class="homeslider__title"><%=e.title%></div>
                  <% } %>
                  <% if(e.btn) { %> 
                    <%- include('partials/btns/primary', {value: "Регистрация"}); %>
                  <% } %> 
                </div>
              </div>
            </div>
          <% }); %>
        </div>
        <div class="swiper-pagination bluewhite-pagination"></div>
      </div>
    </div>
  </section>

  <section class="section homestate">
    <div class="container">
      <div class="homestate__wrap">
        <div class="homestate__box">
          <div class="homestate__title">210</div>
          <div class="homestate__desc">Регулярных турниров и чемпионатов</div>
        </div>
        <div class="homestate__box">
          <div class="homestate__title">1500</div>
          <div class="homestate__desc">Играков на сайте ежедневно</div>
        </div>
        <div class="homestate__box">
          <div class="homestate__title">56</div>
          <div class="homestate__desc">Команд со всей России</div>
        </div>
      </div>
    </div>
  </section>

  <%- include('common/foot', pageinfo); %>
</html>